---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Demographics from "../components/Demographics.astro";
import PanoramicViews from "../components/PanoramicViews.astro";
import HowToGetThere from "../components/HowToGetThere.astro";
import VideoGallery from "../components/VideoGallery.astro";
import AgriculturalProduction from "../components/AgriculturalProduction.astro";
import ProducersDirectory from "../components/ProducersDirectory.astro";
import BuyersDirectory from "../components/BuyersDirectory.astro";
import SuppliersDirectory from "../components/SuppliersDirectory.astro";
import MarketsSection from "../components/MarketsSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portal San Pablo de Pillao | Distrito Productivo y Turístico">
  <Navigation />

  <main>
    <Hero />
    <Demographics />
    <PanoramicViews />
    <HowToGetThere />
    <VideoGallery />
    <AgriculturalProduction />
    <ProducersDirectory />
    <BuyersDirectory />
    <SuppliersDirectory />
    <MarketsSection />
  </main>

  <Footer />
</Layout>
